# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Cmake Output files
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
CMakefile
fails/CMakeFiles/*
Makefile

# Swap files
*.swp

# Data files
*.root

# Executables
hello
tracker
aspen
